h2{
    color: aqua;

}
p{
    color: blue;
    text-align: center;
     background-color: rgb(237, 243, 243);
}
.par{
    color: #d2df15;
   
    text-align:right ;
}
#abhi{
    color: rgb(255, 0, 128);
    
} 